:root {
  --dark: #17476d;
  --void: #0E0B16;
  --fuscia: #A239ca;
  --jewel: #4717f6;
  --stark: #e7dfdd;
  --light: #f0f8ff;
  /* old blue  #2b90e2 */
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar {
  max-height: 100px;
  height: 100%;
  background-color: var(--void);
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%; 
}

#my-name {
  font-size: 70px;
  color: var(--light);
  padding-left: 15px;
  border-left: 5px solid var(--fuscia);
}

.navbar-links a {
  font-size: 25px;
  text-decoration: none;
  color: var(--light);
  margin-left: 20px;
  margin-right: 20px;
}

#background-panorama {
  background-image: url("../images/repeat-coder.gif");
  background-repeat: repeat;
}

#about-me {
  display: flex;
  align-items: center;
  background-color: var(--light);
  color: var(--void);
  position: relative;
  top: -5px;
}

#about-me h1 {
  font-size: 90px;
  text-align: center;
  border-right: 5px solid var(--void);
  margin: 100px;
  padding-right: 50px;
  padding-bottom: 50px;

}

#about-me p {
    font-size: 25px;
    padding: 50px;
}

#work {
  display: flex;
  align-items: center;
  background-color: var(--light);
  color: var(--void);
  position: relative;
  top: -5px;
}

#work h1 {
  font-size: 90px;
  text-align: center;
  border-right: 5px solid var(--void);
  margin: 100px;
  padding-right: 50px;
  padding-bottom: 50px;
  max-width:265px;
  width: 100%;
}

.work-boxes {
  display: flex;
}

#main-project-box {
  width: 1500px;
  height:250px;
  background-color: var(--fuscia);
}